@model IEnumerable<MvcPelicula.Models.Director>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Directores</h2>

<p>
    @Html.ActionLink("Agregar nuevo Director", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.DirectorID }) |
            @Html.ActionLink("Consultar", "Details", new { id=item.DirectorID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.DirectorID })
        </td>
    </tr>
}

</table>
