@model IEnumerable<MvcPelicula.Models.Pelicula>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar nueva", "Create")

    @using (Html.BeginForm("Index", "Peliculas", FormMethod.Get))
    {
        <p>
            Género: @Html.DropDownList("generoPelicula", "Todos")
            Título: @Html.TextBox("buscarString") <br />
            Precio: @Html.TextBox("precioPelicula") <br />
            Director: @Html.DropDownList("directorPelicula") <br />
            <input type="submit"  value="Filtrar"/>
        </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaLanzamiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaLanzamiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Director.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Consultar", "Details", new { id = item.ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
